node_modules/
.next/
.next-e2e-public/
.next-e2e-admin/
dist/
*.log
.env
.env.local
tsconfig.tsbuildinfo
next-env.d.ts
.vercel
.omc/
.claude/
.DS_Store
.env*

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
